<%# wrap each category in a card %> 

<%= link_to category_path(category), class: "category-card-link" do %>
    <div class="category-card" id="<%= dom_id(category) %>">
        <h3><%= category.name %></h3>


        <%# conditionally display the description %> 
        <% unless local_assigns[:hide_description] %>
            <p><%= category.description %></p>
        <% end %>
    </div>
<% end %>

