
<%# layout cards in a grid format %> 

<% content_for :title, "Categories" %>

<div class="header-container">
    <h2 class="page-title">Categories</h2>
    <div class="header-buttons">
        <%= link_to "New category", new_category_path, class: "btn btn-success" %>
    </div> 
</div> 

<%# hides description initially %> 
<div class="categories-grid">
  <% @categories.each do |category| %>
    <%= render category, hide_description: true %>
  <% end %>
</div>

