
<% content_for :title, "New category" %>

<div class="category-form-container">
    
    <h3 class="text-center">New category</h3>

    <%= render "form", category: @category %>

    <div class="text-center">
         <%= link_to "Back to categories", categories_path %>
    </div>
</div>