
<% content_for :title, "New category" %>

<div class="category-form-container">
    
    <h1>New category</h1>

    <%= render "form", category: @category %>

    <div>
         <%= link_to "Back to categories", categories_path %>
    </div>
</div>