<%= render @category %>

<div class="category-buttons">
  <%= link_to "Back to categories", categories_path, class: "btn back" %>
  <%= link_to "Update", edit_category_path(@category), class: "btn edit" %>
  <%= button_to "Delete", @category, method: :delete, data: { confirm: "Are you sure?" }, class: "btn delete" %>
</div>