<div class="header-container">
    <h2 class="page-title"> All Users </h2>
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="counter-col"> </th> 
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr onclick="window.location='<%= admin_user_path(user) %>'" style="cursor: pointer;">
        <td> <%= index + 1 %> </td> 
        <td><%= user.email_address %></td>
        <td><%= user.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>
