

<div class="card mx-auto shadow-lg user-card">
    <h2 class="user-email"> <%= @user.email_address %></h2>
    <p class="user-role"> <%= @user.role %></p>


    <div class="button-group">
    <%= link_to "Edit", edit_admin_user_path(@user), class: "btn edit" %>
    <%= button_to "Delete", admin_user_path(@user), 
                method: :delete, 
                data: { confirm: "Are you sure?" }, 
                class: "btn delete" %>
                
    </div>
</div>
