<h1><%= t ".title" %></h1>

<div id="products">
    <% @products.each do |product| %>
        <div class="product-card">
            
            <h2><%= link_to product.name, product_path(product) %></h2>
             <p><%= number_to_currency(product.price) if product.price.present? %></p>
        </div>
    <% end %>
</div>

